@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #ffffff;
}

html {
  font-family: "Raleway", sans-serif;
  font-size: 62.5%;
  color: #515151;
}

body {
  font-size: 1.6rem;
}

.nav-bar {
  font-weight: 700;
  font-size: 1.8rem;
}

.home-title {
  text-align: center;
}

.home-title__main {
  font-size: 10rem;
  color: #FFC53D;
}

.home-title__subtitle {
  font-size: 3.6rem;
  color: #ffffff;
}

.styled-card {
  font-size: 1.6rem;
  line-height: 1.4;
}

.styled-card__data-list {
  font-weight: 600;
  line-height: 1.7;
}

.styled-card__data-item span {
  color: #FFC53D;
  margin-left: .6rem;
}

.styled-card__description {
  font-size: 1.4rem;
  line-height: 1.6;
}

.section-styled__title {
  font-weight: 700;
  font-size: 3.2rem;
}

.section-portfolio__title {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 700;
}

.footer {
  font-size: 1.4rem;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 0;
  margin: 0 auto;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-menu__item:not(:last-child) {
  margin-right: 3rem;
}

.nav-menu__item:hover {
  cursor: pointer;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 1rem;
}

.flex-container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 22rem;
  padding-top: 3rem;
}

.flex-container__item:not(:nth-child(3)) {
  border-right: 3px dotted #FFC53D;
}

.flex-container__title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #FFC53D;
  margin-bottom: .6rem;
}

.flex-container__icon {
  font-size: 8.5rem;
  margin-bottom: 1rem;
}

.flex-container__text-area {
  font-size: 2.2rem;
  font-weight: 400;
  text-align: center;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[11];
      grid-template-columns: repeat(11, 1fr);
}

.grid-container__item {
  min-height: 35rem;
  position: relative;
  background: linear-gradient(135deg, #000000 0%, #785593 50%, #ffb94e 75%, #ff9a3d 100%);
  overflow: hidden;
}

.grid-container__item:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.grid-container__item:hover:before {
  opacity: .5;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.project-one {
  grid-column: span 4;
}

.project-one:before {
  background: url("../../img/project-1.jpg");
}

.project-two {
  grid-column: span 3;
}

.project-two:before {
  background: url("../../img/project-2.jpg");
}

.project-three {
  grid-column: span 4;
}

.project-three:before {
  background: url("../../img/project-3.jpg");
}

.project-four {
  grid-column: span 3;
}

.project-four:before {
  background: url("../../img/project-4.jpg");
}

.project-five {
  grid-column: span 8;
}

.project-five:before {
  background: url("../../img/project-5.jpg");
}

.grid-container__item:before {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn {
  color: #ffffff;
  background: -webkit-gradient(linear, right top, left top, from(#ffc53d), to(#ff9a3d));
  background: linear-gradient(270deg, #ffc53d 0%, #ff9a3d 100%);
  border: none;
  font-size: 1.8rem;
  line-height: 1.6;
  padding: 1rem 3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1.5rem;
}

.btn__submit {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 7.5%;
  margin-top: 1rem;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  min-height: 100%;
  padding: 3rem 0;
}

.contact-form__title {
  width: 80%;
  margin: 0 auto 1.5rem;
  color: #515151;
  font-size: 2.8rem;
  font-weight: 700;
}

.contact-form__input {
  font-family: inherit;
  line-height: 2;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  width: 80%;
  border: none;
  margin: 0 auto 1.5rem;
  background-color: #FAFAFF;
}

.contact-form__input:focus {
  outline: none;
  -webkit-box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.15);
}

.contact-form__text-area {
  min-height: 20rem;
}

.social-icons__list {
  position: relative;
  z-index: 2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3rem;
  color: #FFC53D;
}

.social-icons__item:hover {
  cursor: pointer;
}

.social-icons__item:not(:last-child) {
  margin-right: 4rem;
}

.section__home {
  min-height: 50vh;
  position: relative;
  background: #515151;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__home:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.2;
  background-image: url("./img/background-main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section__contact {
  background-color: #f5f5fc;
}

.section__contact .flex-container {
  padding: 0 4rem;
  color: #ffffff;
}

.section__contact .flex-container__item {
  border: none;
  padding: 4rem;
}

.section__contact .flex-container__item .social-icons__list {
  color: #ffffff;
}

.section__contact .flex-container__item:nth-child(1) {
  background-color: #FF9A3D;
}

.section__contact .flex-container__item:nth-child(2) {
  position: relative;
  overflow: hidden;
  padding: 0;
}

.section__contact .flex-container__item:nth-child(2):before {
  content: ' ';
  display: block;
  position: absolute;
  left: -1.5rem;
  top: 4rem;
  width: 3rem;
  height: 3rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #FF9A3D;
}

.contact__icon, .contact__description {
  margin-bottom: 3.5rem;
}

.contact__icon {
  font-size: 3.2rem;
}

.contact__description {
  width: 80%;
}

.wrapper-main {
  max-width: 136rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.section {
  padding: 2rem 0 3rem;
  margin-bottom: 4rem;
}

.section-styled {
  position: relative;
}

.section-styled__title {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.section-styled__card {
  background-color: #ffffff;
  padding: 3rem;
  width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.05);
}

.section-styled:before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  width: 70%;
  height: 100%;
  z-index: -999999;
  opacity: 1;
  background-color: #f5f5fc;
}

.section-styled:nth-child(even) .section-styled__title {
  width: 30%;
}

.section-styled:nth-child(even):before {
  right: 0;
}

.styled-card__avatar {
  height: auto;
  min-width: 13rem;
  border-radius: 50%;
  background-image: url("./img/avatar.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.styled-card > *:not(:last-child) {
  margin-right: 4rem;
}

.styled-card__data-list {
  min-width: 32rem;
  padding-right: 2rem;
  border-right: 3px dotted #FFC53D;
}

.footer {
  text-align: center;
  padding: 1.5rem 0;
}
/*# sourceMappingURL=main.css.map */