@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  min-height: 100%;
}

body {
  background-color: #ffffff;
}

html {
  font-family: "Raleway", sans-serif;
  font-size: 62.5%;
  color: #515151;
}

body {
  font-size: 1.6rem;
}

.home-title {
  text-align: center;
}

.home-title__main {
  text-align: center;
  font-size: 4.6rem;
  color: #FFC53D;
}

.home-title__subtitle {
  font-size: 2.6rem;
  color: #ffffff;
}

.styled-card__data-list {
  font-weight: 600;
  line-height: 1.7;
}

.styled-card__data-item span {
  color: #FFC53D;
  margin-left: .6rem;
}

.styled-card__description {
  font-size: 1.4rem;
  line-height: 1.6;
}

.section-styled__card {
  font-size: 1.6rem;
  line-height: 1.4;
}

.section-styled__title {
  font-weight: 700;
  font-size: 3.2rem;
}

.section-portfolio__title {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 700;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 3rem 0;
}

.nav-bar__branding {
  display: none;
}

.nav-menu {
  display: none;
  visibility: hidden;
}

.menuToggle {
  display: block;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/*
  * Just a quick hamburger
  */
.menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #FFC53D;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.social-icons__list {
  position: relative;
  z-index: 2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3rem;
  color: #FFC53D;
}

.social-icons__item:hover {
  cursor: pointer;
}

.social-icons__item:not(:last-child) {
  margin-right: 4rem;
}

.avatar {
  min-height: 150px;
  width: 150px;
  max-width: 150px;
  border-radius: 50%;
  background-image: url("../../img/avatar.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.btn {
  color: #ffffff;
  background: -webkit-gradient(linear, right top, left top, from(#ffc53d), to(#ff9a3d));
  background: linear-gradient(270deg, #ffc53d 0%, #ff9a3d 100%);
  border: none;
  font-size: 1.8rem;
  line-height: 1.6;
  padding: 1rem 3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1.5rem;
}

.btn__submit {
  margin: 2rem auto 0;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  min-height: 100%;
  padding: 3rem 0;
}

.contact-form__title {
  width: 80%;
  margin: 0 auto 1.5rem;
  color: #515151;
  font-size: 2.8rem;
  font-weight: 700;
}

.contact-form__input {
  font-family: inherit;
  line-height: 2;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  width: 80%;
  border: none;
  margin: 0 auto 1.5rem;
  background-color: #FAFAFF;
}

.contact-form__input:focus {
  outline: none;
  -webkit-box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.15);
}

.contact-form__text-area {
  min-height: 20rem;
}

.section__home {
  min-height: 70vh;
  position: relative;
  background: #515151;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__home:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.2;
  background-image: url("./img/background-main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.styled-card__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.styled-card__about .avatar {
  margin-bottom: 3rem;
}

.styled-card__data-list {
  width: 100%;
  margin-bottom: 3rem;
  border-bottom: 3px dotted #FFC53D;
  padding-bottom: 3rem;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 22rem;
}

.flex-container__item:not(:nth-child(3)) {
  padding-bottom: 3rem;
  border-bottom: 3px dotted #FFC53D;
}

.flex-container__item:not(:nth-child(1)) {
  padding-top: 3rem;
}

.flex-container__title {
  font-size: 2.2rem;
  font-weight: 700;
  color: #FFC53D;
  margin-bottom: .6rem;
}

.flex-container__icon {
  font-size: 5.5rem;
  margin-bottom: 1rem;
}

.flex-container__text-area {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  max-width: 1320px;
  margin: 0 auto;
}

/* Common style */
.grid figure {
  margin: 0;
  position: relative;
  float: left;
  overflow: hidden;
  /* margin: 5px 2px; */
  background: #a72d2d;
  min-height: 40vh;
  cursor: pointer;
}

/**/
.grid img {
  /* min-width: 100%; */
  min-height: 100%;
  width: 100%;
  opacity: 0.9;
  vertical-align: bottom;
}

.grid figure figcaption {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1em;
  /* -webkit-backface-visibility: hidden;
	backface-visibility: hidden; */
}

.grid figure figcaption::before {
  pointer-events: none;
}

.grid figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/*project-cards*/
/* image and before */
figure.project-card figcaption::before {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  border: none;
  background-color: #515151;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(0px, 60px, 0);
  transform: translate3d(0px, 60px, 0);
}

figure.project-card img,
figure.project-card li {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
}

/* title  */
figure.project-card h2 {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.4em 10px;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
}

figure.project-card div {
  padding: 30px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

figure.project-card p {
  display: inline-block;
  margin: 0 0 0.25em;
  padding: 0.4em 1em;
  background: rgba(255, 255, 255, 0.9);
  color: #2f3238;
  text-transform: none;
  font-weight: 500;
  font-size: 75%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(-380px, 0, 0);
  transform: translate3d(-380px, 0, 0);
}

/* links */
figure.project-card ul {
  list-style: none;
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
}

figure.project-card li {
  display: block;
  /* margin-bottom: 30px; */
  color: #fff;
  opacity: 1;
  min-width: 70px;
  text-align: center;
  -webkit-transform: translate3d(0, 60px, 0);
  transform: translate3d(0, 60px, 0);
}

figure.project-card li a {
  color: #fff;
}

figure.project-card li a:hover,
figure.project-card li a:focus {
  color: #f3cf3f;
}

/* hover effects */
figure.project-card:hover img {
  opacity: 0.8;
  -webkit-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1);
}

figure.project-card:hover figcaption::before,
figure.project-card:hover h2,
figure.project-card:hover li,
figure.project-card:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.project-card:hover h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, -35px, 0);
}

/* slide out */
figure.project-card p:first-child {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

figure.project-card p:nth-of-type(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.project-card p:nth-of-type(3) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.project-card:hover li:nth-of-type(4) {
  -webkit-transition-delay: 1.5s;
  transition-delay: 0.15s;
}

/* slide in */
figure.project-card:hover li:first-child {
  -webkit-transition-delay: .20s;
  transition-delay: .20s;
}

figure.project-card:hover li:nth-of-type(2) {
  -webkit-transition-delay: 0.30s;
  transition-delay: 0.30s;
}

figure.project-card:hover p:first-child {
  -webkit-transition-delay: .0s;
  transition-delay: .0s;
}

figure.project-card:hover p:nth-of-type(2) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.project-card:hover p:nth-of-type(3),
figure.project-card:hover li:nth-of-type(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.project-card:hover li:nth-of-type(4) {
  -webkit-transition-delay: 1.5s;
  transition-delay: 0.15s;
}

.section__contact {
  background-color: #f5f5fc;
}

.section__contact .flex-container {
  padding: 0;
  color: #ffffff;
}

.section__contact .flex-container__item {
  border: none;
  padding: 2rem;
}

.section__contact .flex-container__item .social-icons__list {
  color: #ffffff;
}

.section__contact .flex-container__item:nth-child(1) {
  background-color: #FF9A3D;
}

.section__contact .flex-container__item:nth-child(2) {
  position: relative;
  overflow: hidden;
  padding: 0;
}

.section__contact .flex-container__item:nth-child(2):before {
  content: ' ';
  display: block;
  position: absolute;
  left: 2.2rem;
  top: -2rem;
  width: 3rem;
  height: 3rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #FF9A3D;
}

.contact__icon, .contact__description {
  margin-bottom: 3.5rem;
}

.contact__icon {
  font-size: 3.2rem;
}

.contact__description {
  width: 80%;
}

.wrapper-main {
  max-width: 136rem;
  margin: 0 auto;
  padding: 0;
  z-index: 1;
}

.section {
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.section-styled {
  position: relative;
}

.section-styled__title {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.section-styled__card {
  background-color: #ffffff;
  padding: 3rem;
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.05);
}

.section-styled:before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  width: 70%;
  height: 100%;
  z-index: -999999;
  opacity: 1;
  background-color: #f5f5fc;
}

.section-styled:nth-child(even) .section-styled__title {
  width: 30%;
}

.section-styled:nth-child(even):before {
  right: 0;
}
/*# sourceMappingURL=main.css.map */