@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "“" "”" "‘" "’";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  min-height: 100%;
}

body {
  background-color: #ffffff;
}

html {
  font-family: "Raleway", sans-serif;
  font-size: 62.5%;
  color: #515151;
}

body {
  font-size: 1.6rem;
}

.home-title {
  text-align: center;
}

.home-title__main {
  text-align: center;
  font-size: 4.6rem;
  color: #FFC53D;
}

.home-title__subtitle {
  font-size: 2.6rem;
  color: #ffffff;
}

.styled-card__data-list {
  font-weight: 600;
  line-height: 1.7;
}

.styled-card__data-item span {
  color: #FFC53D;
  margin-left: .6rem;
}

.styled-card__description {
  font-size: 1.4rem;
  line-height: 1.6;
}

.section-styled__card {
  font-size: 1.6rem;
  line-height: 1.4;
}

.section-styled__title {
  font-weight: 700;
  font-size: 3.2rem;
}

.section-portfolio__title {
  font-size: 3.2rem;
  text-align: center;
  margin: 0 10rem 1rem 0;
  font-weight: 700;
}

.footer {
  font-size: 1.4rem;
  text-align: center;
}

.btn {
  color: #ffffff;
  background: -webkit-gradient(linear, right top, left top, from(#ffc53d), to(#ff9a3d));
  background: linear-gradient(270deg, #ffc53d 0%, #ff9a3d 100%);
  border: none;
  font-size: 1.8rem;
  line-height: 1.6;
  padding: 1rem 3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1.5rem;
}

.btn__submit {
  margin: 2rem auto 0;
}

.avatar {
  min-height: 150px;
  width: 150px;
  max-width: 150px;
  border-radius: 50%;
  background-image: url("./img/avatar.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menuToggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 3;
  background-color: #f5f5fc;
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.checkbox__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4rem;
  height: 3.2rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  opacity: 0;
  z-index: 4;
}

.menuToggle span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2.6rem;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #FFC53D;
  -webkit-transform-origin: 5px 0px;
          transform-origin: 5px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  margin-top: 3px;
}

.menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  width: 2rem;
  -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
}

.checkbox__nav:checked ~ .menuToggle {
  background-color: #FFC53D;
}

.checkbox__nav:checked ~ .menuToggle span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(2px, -2px);
          transform: rotate(45deg) translate(2px, -2px);
  background: #fff;
}

.checkbox__nav:checked ~ .menuToggle span:nth-child(2) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.checkbox__nav:checked ~ .menuToggle span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(1px, 1px);
          transform: rotate(-45deg) translate(1px, 1px);
}

.checkbox__nav:checked ~ .nav-menu,
.checkbox__nav:checked ~ .branding .avatar,
.checkbox__nav:checked ~ .nav-menu .nav-menu__item,
.checkbox__nav:checked ~ .branding {
  -webkit-transform: none;
          transform: none;
}

.nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  width: 100%;
  height: 6rem;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: calc(100vh - 20rem);
  background-color: #FFC53D;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.nav-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-height: 8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-80%, 0);
          transform: translate(-80%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.nav-menu__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #515151;
  font-size: 1.8rem;
  font-weight: 600;
}

.branding {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  background-color: #f5f5fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 20rem;
}

.branding .avatar {
  -webkit-transform: translate(100vw, 0);
          transform: translate(100vw, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  -webkit-transition-delay: .09s;
          transition-delay: .09s;
}

.nav-menu .nav-menu__item:nth-child(1n) {
  -webkit-transition-delay: 0.09s;
          transition-delay: 0.09s;
}

.nav-menu .nav-menu__item:nth-child(2n) {
  -webkit-transition-delay: 0.18s;
          transition-delay: 0.18s;
}

.nav-menu .nav-menu__item:nth-child(3n) {
  -webkit-transition-delay: 0.27s;
          transition-delay: 0.27s;
}

.nav-menu .nav-menu__item:nth-child(4n) {
  -webkit-transition-delay: 0.36s;
          transition-delay: 0.36s;
}

.nav-menu .nav-menu__item:nth-child(5n) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.social-icons__list {
  position: relative;
  z-index: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3rem;
  color: #FFC53D;
}

.social-icons__item {
  -webkit-transition: all 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: all 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.social-icons__item:hover {
  cursor: pointer;
  color: #ffffff;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: all 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.social-icons__item:not(:last-child) {
  margin-right: 4rem;
}

.section__contact .social-icons__item:hover {
  color: #515151;
  -webkit-transition: all 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: all 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.btn {
  color: #ffffff;
  background: -webkit-gradient(linear, right top, left top, from(#ffc53d), to(#ff9a3d));
  background: linear-gradient(270deg, #ffc53d 0%, #ff9a3d 100%);
  border: none;
  font-size: 1.8rem;
  line-height: 1.6;
  padding: 1rem 3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1.5rem;
}

.btn__submit {
  margin: 2rem auto 0;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  min-height: 100%;
  padding: 3rem 0;
}

.contact-form__title {
  width: 80%;
  margin: 0 auto 1.5rem;
  color: #515151;
  font-size: 2.8rem;
  font-weight: 700;
}

.contact-form__input {
  font-family: inherit;
  line-height: 2;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  width: 80%;
  border: none;
  margin: 0 auto 1.5rem;
  background-color: #FAFAFF;
}

.contact-form__input:focus {
  outline: none;
  -webkit-box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.15);
}

.contact-form__text-area {
  min-height: 20rem;
}

.section__home {
  min-height: 70vh;
  position: relative;
  background: #515151;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.section__home:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.2;
  background-image: url("./img/background-main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-title__main {
  margin: 0;
}

.styled-card__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.styled-card__about .avatar {
  margin-bottom: 3rem;
}

.styled-card__data-list {
  width: 100%;
  margin-bottom: 3rem;
  border-bottom: 3px dotted #FFC53D;
  padding-bottom: 3rem;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 22rem;
}

.flex-container__item:not(:nth-child(3)) {
  padding-bottom: 3rem;
  border-bottom: 3px dotted #FFC53D;
}

.flex-container__item:not(:nth-child(1)) {
  padding-top: 3rem;
}

.flex-container__title {
  font-size: 2.2rem;
  font-weight: 700;
  color: #FFC53D;
  margin-bottom: .6rem;
}

.flex-container__icon {
  font-size: 5.5rem;
  margin-bottom: 1rem;
}

.flex-container__text-area {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  max-width: 1320px;
  margin: 0 auto;
}

.grid .project-card {
  margin: 0;
  position: relative;
  overflow: hidden;
  max-width: 500px;
  background: black;
  background: linear-gradient(135deg, black 0%, #060606 11%, rgba(255, 166, 84, 0.717525) 43%, #ffa654 75%, #ffa654 100%);
  min-height: 30vh;
  cursor: pointer;
}

.grid .project-card figcaption {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1em;
}

.grid img {
  /* min-width: 100%; */
  min-height: 100%;
  width: 100%;
  opacity: 0.9;
  vertical-align: bottom;
}

.grid .project-card figcaption::before {
  pointer-events: none;
}

.grid .project-card figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid .project-card h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid .project-card h2 span {
  font-weight: 800;
  margin-left: .6rem;
}

.grid .project-card h2,
.project-card__description-line {
  margin: 0;
}

.project-card__description-line {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/*project-cards*/
/* image and before */
figure.project-card figcaption::before {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  border: none;
  background-color: #515151;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(0px, 60px, 0);
  transform: translate3d(0px, 60px, 0);
}

figure.project-card img,
figure.project-card li {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
}

/* title  */
figure.project-card h2 {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.4em 10px;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

figure.project-card div {
  padding: 30px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

figure.project-card p {
  display: inline-block;
  margin: 0 0 0.25em;
  padding: 0.4em 1em;
  background: rgba(255, 255, 255, 0.9);
  color: #2f3238;
  text-transform: none;
  font-weight: 500;
  font-size: 75%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(-380px, 0, 0);
  transform: translate3d(-380px, 0, 0);
}

/* links */
figure.project-card ul {
  list-style: none;
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
}

figure.project-card li {
  display: block;
  /* margin-bottom: 30px; */
  color: #fff;
  opacity: 1;
  min-width: 70px;
  text-align: center;
  -webkit-transform: translate3d(0, 60px, 0);
  transform: translate3d(0, 60px, 0);
}

figure.project-card li a {
  color: #fff;
}

figure.project-card li a:hover,
figure.project-card li a:focus {
  color: #f3cf3f;
}

/* hover effects */
figure.project-card:hover img {
  opacity: 0.4;
  -webkit-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1);
}

figure.project-card:hover figcaption::before,
figure.project-card:hover h2,
figure.project-card:hover li,
figure.project-card:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.project-card:hover h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, -5px, 0) scale(1.2);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

/* slide out */
figure.project-card p:first-child {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

figure.project-card p:nth-of-type(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.project-card p:nth-of-type(3) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.project-card:hover li:nth-of-type(4) {
  -webkit-transition-delay: 1.5s;
  transition-delay: 0.15s;
}

/* slide in */
figure.project-card:hover li:first-child {
  -webkit-transition-delay: .20s;
  transition-delay: .20s;
}

figure.project-card:hover li:nth-of-type(2) {
  -webkit-transition-delay: 0.30s;
  transition-delay: 0.30s;
}

figure.project-card:hover p:first-child {
  -webkit-transition-delay: .0s;
  transition-delay: .0s;
}

figure.project-card:hover p:nth-of-type(2) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.project-card:hover p:nth-of-type(3),
figure.project-card:hover li:nth-of-type(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.project-card:hover li:nth-of-type(4) {
  -webkit-transition-delay: 1.5s;
  transition-delay: 0.15s;
}

.section__contact .flex-container {
  padding: 0;
  color: #ffffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.05);
}

.section__contact .flex-container__item {
  border: none;
  padding: 3rem 2rem;
}

.section__contact .flex-container__item .social-icons__list {
  color: #ffffff;
}

.section__contact .flex-container__item:nth-child(1) {
  background-color: #FF9A3D;
}

.section__contact .flex-container__item:nth-child(2) {
  position: relative;
  overflow: hidden;
  padding: 0;
}

.section__contact .flex-container__item:nth-child(2):before {
  content: ' ';
  display: block;
  position: absolute;
  left: 2.2rem;
  top: -2rem;
  width: 3rem;
  height: 3rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #FF9A3D;
}

.contact__icon, .contact__description {
  margin-bottom: 3.5rem;
}

.contact__icon {
  font-size: 3.2rem;
}

.contact__description {
  width: 80%;
}

.footer {
  padding: 1rem 0;
}

.wrapper-main {
  max-width: 136rem;
  margin: 0 auto;
  padding: 0;
  z-index: 1;
}

.section {
  padding: 2rem 0;
}

.section:not(:last-of-type) {
  margin-bottom: 2rem;
}

.section-styled {
  position: relative;
}

.section-styled__title {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1rem;
  max-width: 200px;
}

.section-styled__card {
  background-color: #ffffff;
  padding: 3rem;
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.05);
}

.section-styled:before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  width: 70%;
  height: 100%;
  z-index: -999999;
  opacity: 1;
  background-color: #f5f5fc;
}

.section-styled:nth-child(even) .section-styled__title {
  margin-left: 35vw;
}

.section-styled:nth-child(even):before {
  right: 0;
}

@media (min-width: 500px) {
  .home-title__main {
    font-size: 6.6rem;
    color: #FFC53D;
  }
  .home-title__subtitle {
    font-size: 3rem;
    color: #ffffff;
  }
  .social-icons__list {
    font-size: 3.3rem;
  }
  .social-icons__item:hover {
    cursor: pointer;
  }
  .social-icons__item:not(:last-child) {
    margin-right: 4rem;
  }
  .flex-container__item {
    padding-top: 3rem;
  }
  .flex-container__item:not(:nth-child(3)) {
    padding-bottom: 3rem;
    border-bottom: none;
  }
  .flex-container__item:nth-child(1) {
    padding-right: 3rem;
    border-right: 3px dotted #FFC53D;
  }
  .flex-container__item:nth-child(2) {
    padding-left: 3rem;
  }
  .section__contact .flex-container__item {
    border: none;
  }
  .contact__description {
    text-align: center;
  }
  .section__contact .flex-container {
    max-width: 55rem;
    margin: 0 auto;
  }
}

@media (min-width: 720px) {
  .home-title__main {
    font-size: 8.6rem;
    color: #FFC53D;
  }
  .home-title__subtitle {
    font-size: 4rem;
    color: #ffffff;
  }
  .social-icons__list {
    font-size: 4rem;
  }
  .social-icons__item:hover {
    cursor: pointer;
  }
  .social-icons__item:not(:last-child) {
    margin-right: 4rem;
  }
  .flex-container__item {
    padding: 3rem 0;
  }
  .flex-container__item:nth-child(2) {
    padding: 3rem;
  }
  .flex-container__item:nth-child(3) {
    padding-left: 3rem;
  }
  .flex-container__item:not(:nth-child(3)) {
    border-right: 3px dotted #FFC53D;
  }
  .section-portfolio__title {
    margin: 0 auto 1rem;
  }
  .section__contact .flex-container__item {
    border: none;
  }
  .styled-card__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .styled-card__about .avatar {
    margin: 4rem;
    float: 1;
  }
  .styled-card__data-list {
    width: 60%;
    margin: 3rem 0;
    border-bottom: none;
    border-left: 3px dotted #FFC53D;
    padding: 0 0 0 4rem;
  }
}

@media (min-width: 720px) {
  .section__contact .flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 800px;
    margin: 0 auto;
  }
  .section__contact .flex-container__item .social-icons__list {
    font-size: 2.6rem;
  }
  .section__contact .flex-container__item:nth-child(1) {
    max-width: 30rem;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .section__contact .flex-container__item:nth-child(2):before {
    left: -2rem;
    top: 2.5rem;
  }
  .grid {
    -ms-grid-columns: (1fr)[10];
        grid-template-columns: repeat(10, 1fr);
    max-width: 900px;
  }
  .grid .project-card {
    margin: 0;
    max-width: 650px;
  }
  .grid .project-card:nth-child(1),
  .grid .project-card:nth-child(4) {
    grid-column: span 6;
  }
  .grid .project-card:nth-child(2),
  .grid .project-card:nth-child(3) {
    grid-column: span 4;
  }
  .grid .project-card:nth-child(5) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 6;
    grid-column: 3/9;
  }
}

@media (min-width: 900px) {
  .home-title__main {
    font-size: 10rem;
  }
  .section-styled .section-styled__card {
    width: 90vw;
    max-width: 1250px;
  }
}

@media (min-width: 1100px) {
  .grid {
    -ms-grid-columns: (1fr)[11];
        grid-template-columns: repeat(11, 1fr);
    max-width: none;
  }
  .grid .project-card {
    margin: 0;
    max-width: 850px;
  }
  .grid .project-card:nth-child(1) {
    grid-column: span 4;
  }
  .grid .project-card:nth-child(2) {
    grid-column: span 3;
  }
  .grid .project-card:nth-child(3) {
    grid-column: span 4;
  }
  .grid .project-card:nth-child(4) {
    grid-column: span 6;
  }
  .grid .project-card:nth-child(5) {
    grid-column: span 5;
  }
  .section__contact .flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 950px;
    margin: 0 auto;
  }
  .styled-card__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .styled-card__about .avatar {
    margin: 4rem;
    float: 1;
  }
  .styled-card__data-list {
    width: 35%;
    margin: 3rem 0;
    border-bottom: none;
    border-left: 3px dotted #FFC53D;
    padding: 0 4rem;
  }
  .styled-card__description {
    width: 40%;
    margin: 3rem 0;
    border-bottom: none;
    border-left: 3px dotted #FFC53D;
    padding: 0 0 0 4rem;
  }
}
/*# sourceMappingURL=main.css.map */
