.btn {
    color: $color-primary;
    background: linear-gradient(270deg, rgba(255,197,61,1) 0%, rgba(255,154,61,1) 100%);
    border: none;
    font-size: 1.8rem;
    line-height: 1.6;
    padding: 1rem 3rem;
    width: fit-content;
    border-radius: 1.5rem;
    &__submit {        
        margin: 2rem auto 0;
    }
}

