@import './buttons';
@import './avatar';
@import './menuToggle';
@import './navigation';
@import './socialIcons';
@import './buttons';
@import './contactForm';
@import './sections/home';
@import './sections/about';
@import './sections/skills';
@import './sections/portfolio';
@import './sections/contact';
@import './footer';

//main wrapper for the page
.wrapper-main {
    max-width: 136rem;
    position: relative;
    margin: 0 auto;
    padding: 0;
    z-index: 1;
}

//styled sections
.section {
    padding: 2rem 0;

    &:not(:last-of-type) {
        margin-bottom: 2rem;
    }

    &-styled {

        position: relative;

        &__title {
            width: 70%;
            margin: 0 auto;
            margin-bottom: 1rem;
            max-width: 200px;

        }

        &__card {
            background-color: $color-primary;
            padding: 3rem;
            width: 100%;
            margin: 0 auto;
            -webkit-box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.05);
            box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.05);

        }

        &:before {
            content: ' ';
            display: block;
            position: absolute;
            top: 0;
            width: 70%;
            height: 100%;
            z-index: -999999;
            opacity: 1;
            background-color: $color-grey-light;
        }


        &:nth-child(even) {
            & .section-styled__title {
                margin-left: 35vw;

            }

            &:before {
                right: 0;
            }
        }


    }
}



// //footer
// .footer {
//     text-align: center;
//     padding: 1.5rem 0;
// }