// .nav-bar {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: 3rem 0;
//   margin: 0 auto;
// }

.nav-bar {
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 999;
  padding: 3rem 0;


&__branding {
  display: none;
}
}

.nav-menu {
  display: none;
  visibility: hidden;
}