//social icons on home section
.social-icons {

    &__list {
        position: relative;
        z-index: 1;
        width: fit-content;
        margin: 0 auto;
        display: flex;
        font-size: 3rem;
        color: $font-color-secondary;
    }


    &__item {
        &:hover {
            cursor: pointer;
        }

        &:not(:last-child) {
            margin-right: 4rem;
        }
    }
}