.section__contact {
    // background-color: $color-grey-light;

    & .flex-container {
        padding: 0;
        color: $color-primary;
flex-direction: column;
-webkit-box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.05);
box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.05);
        &__item {
            border: none;
            // align-items: flex-start;
            padding: 3rem 2rem;

            & .social-icons__list {
                color: $color-primary;
            }

            &:nth-child(1) {
                background-color: $color-orange-dark;
            }
            &:nth-child(2) {
                position: relative;
                overflow: hidden;
                padding: 0;
                &:before {
                    content: ' ';
                    display: block;
                    position: absolute;
                    left: 2.2rem;
                    top: -2rem;
                    width: 3rem;
                    height: 3rem;
                    transform: rotate(-45deg) ;
                    background-color: $color-orange-dark;
                }
            }
        }
    }
}

.contact {
    &__icon, &__description {
        
        margin-bottom: 3.5rem;
    }
    &__icon {
        font-size: 3.2rem;
    }

    &__description {
        width: 80%;
    }
}

