@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

html {
  font-family: "Raleway", sans-serif;
  font-size: 62.5%;
  color: $font-color-primary;
}

body {
  font-size: 1.6rem;
}


// .nav-bar {
//   font-weight: 700;
//   font-size: 1.8rem;
// }


//Header
.home-title {
  text-align: center;

  &__main {
    text-align: center;
    font-size: 4.6rem;
    color: $font-color-secondary;

  }

  &__subtitle {
    font-size: 2.6rem;
    color: $color-primary;
  }
}

//section about




.styled-card {
  
  &__data {
    &-list {
      font-weight: 600;
      line-height: 1.7;
    }

    &-item {
      & span {
        color: $font-color-secondary;
        margin-left: .6rem;
      }
    }
  }

  &__description {
    font-size: 1.4rem;
    line-height: 1.6;
  }
}

.section {
  &-styled {
    &__card {
      font-size: 1.6rem;
      line-height: 1.4;
    }

    &__title {
      font-weight: 700;
      font-size: 3.2rem;
    }
  }
  &-portfolio__title {
    font-size: 3.2rem;
    text-align: center;
    margin: 0 10rem 1rem 0;
    font-weight: 700;
  }
}


//footer
.footer{
  font-size: 1.4rem;
  text-align: center;
}