@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

html {
  font-family: "Raleway", sans-serif;
  font-size: 62.5%;
  color: $font-color-primary;
}

body {
  font-size: 1.6rem;
}


.nav-bar {
  font-weight: 700;
  font-size: 1.8rem;
}

.home-title {
  text-align: center;
  &__main{
            font-size: 10rem;
            color: $font-color-secondary;

  }
  &__subtitle {
            font-size: 3.6rem;
            color: #fff;      
  }
}





// .section-card {
//   font-size: 1.6rem;
//   line-height: 1.7;
//   &__data {
//     &-list {
//       font-weight: 600;
//       & span {
//         color: $font-color-secondary;
//       }
//     }
//   }
// }